In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Read the CSV files into pandas DataFrames
books_literature = pd.read_csv('/content/drive/MyDrive/Project/EmotionsBookClassification/data_final_dataset/database_books_analyzed.csv')
books_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Books.csv')

# Print columns of the first DataFrame
print("Columns of database_books_analyzed.csv:")
print(books_literature.columns)

# Print columns of the second DataFrame
print("\nColumns of Books.csv:")
print(books_kaggle.columns)

# Print 10 entries from database_books_analyzed.csv
print("Entries from database_books_analyzed.csv:")
print(books_literature.head(10))

# Print 10 entries from Books.csv
print("\nEntries from Books.csv:")
print(books_kaggle.head(10))

# Merge the DataFrames based on the book title
#merged_df = pd.merge(books_literature, books_kaggle, on='book_title', how='inner')

# Display the merged DataFrame
#print(merged_df)

Columns of database_books_analyzed.csv:
Index(['Unnamed: 0.1', 'Unnamed: 0', 'Book Id', 'Book URL', 'Book Title',
       'Book Series', 'Book Authors', 'Book Overall Rating',
       'Book Ratings Number', 'Book Reviews Number', 'Book Short Description',
       'Book Full Description', 'Book Genres', 'Book Pages', 'Book Year',
       'Emotions', 'Combined Features'],
      dtype='object')

Columns of Books.csv:
Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
Entries from database_books_analyzed.csv:
   Unnamed: 0.1  Unnamed: 0  \
0             0           0
1             1           1
2             2           2
3             3           3
4             4           4
5             5           5
6             6           6
7             7           7
8             8           8
9             9           9

                                             Book Id  \
0  2657.To_Kill_a_Mockingbird?from_search=true&fr...
1  1885.Pride_and_Prejudice?from_search=true&from...
2  3.Harry_Potter_and_the_Sorcerer_s_Stone?from_s...
3                                            3263607
4  4671.The_Great_Gatsby?from_search=true&from_sr...
5  24178.Charlotte_s_Web?from_search=true&from_sr...
6  10210.Jane_Eyre?from_search=true&from_srp=true...
7  170448.Animal_Farm?from_search=true&from_srp=t...
8  18405.Gone_with_the_Wind?from_search=true&from...
9  5107.The_Catcher_in_the_Rye?from_search=true&f...

                                            Book URL  \
0  https://www.goodreads.com//book/show/2657.To_K...
1  https://www.goodreads.com/book/show/1885.Pride...
2  https://www.goodreads.com//book/show/3.Harry_P...
3  https://www.goodreads.com//book/show/3263607-t...
4  https://www.goodreads.com//book/show/4671.The_...
5  https://www.goodreads.com//book/show/24178.Cha...
6  https://www.goodreads.com//book/show/10210.Jan...
7  https://www.goodreads.com//book/show/170448.An...
8  https://www.goodreads.com//book/show/18405.Gon...
9  https://www.goodreads.com//book/show/5107.The_...

                              Book Title                 Book Series  \
0                  To Kill a Mockingbird     (To Kill a Mockingbird)
1                    Pride and Prejudice                          no
2  Harry Potter and the Sorcerer's Stone           (Harry Potter #1)
3             The Fellowship of the Ring  (The Lord of the Rings #1)
4                       The Great Gatsby                          no
5                        Charlotte's Web                          no
6                              Jane Eyre                          no
7                            Animal Farm                          no
8                     Gone with the Wind                          no
9                 The Catcher in the Rye                          no

              Book Authors  Book Overall Rating  Book Ratings Number  \
0           ['Harper Lee']                 4.27              5243742
1          ['Jane Austen']                 4.28              3580934
2         ['J.K. Rowling']                 4.48              8463719
3       ['J.R.R. Tolkien']                 4.38              2566181
4  ['F. Scott Fitzgerald']                 3.93              4420055
5           ['E.B. White']                 4.19              1618599
6    ['Charlotte BrontÃ«']                 4.14              1843309
7        ['George Orwell']                 3.97              3247770
8    ['Margaret Mitchell']                 4.30              1146993
9        ['J.D. Salinger']                 3.81              3096887

   Book Reviews Number                             Book Short Description  \
0               102742  The unforgettable novel of a childhood in a sl...
1                86516  Since its immediate success in 1813, Pride and...
2               133741  Harry Potter's life is miserable. His parents ...
3                29112  One Ring to rule them all, One Ring to find th...
4                82447  Alternate Cover Edition ISBN: 0743273567 (ISBN...
5                20613  This beloved book by E. B. White, author of St...
6                51252  Orphaned as a child, Jane has felt an outcast ...
7                72268  Librarian's note: There is an Alternate Cover ...
8                21814  Scarlett O'Hara, the beautiful, spoiled daught...
9                68131  It's Christmas time and Holden Caulfield has j...

                               Book Full Description  \
0  The unforgettable novel of a childhood in a sl...
1  Since its immediate success in 1813, Pride and...
2  Harry Potter's life is miserable. His parents ...
3  One Ring to rule them all, One Ring to find th...
4  Alternate Cover Edition ISBN: 0743273567 (ISBN...
5  This beloved book by E. B. White, author of St...
6  Orphaned as a child, Jane has felt an outcast ...
7  Librarian's note: There is an Alternate Cover ...
8  Scarlett O'Hara, the beautiful, spoiled daught...
9  It's Christmas time and Holden Caulfield has j...

                                         Book Genres  Book Pages  Book Year  \
0  ['Classics', 'Fiction', 'Historical', 'Histori...         336       1960
1  ['Classics', 'Romance', 'Historical > Historic...         279       1813
2  ['Fantasy', 'Fiction', 'Young Adult', 'Fantasy...         309       1997
3  ['Fantasy', 'Classics', 'Fiction', 'Adventure'...         527       1954
4  ['Classics', 'Fiction', 'Academic', 'School', ...         200       1925
5  ['Classics', 'Childrens', 'Fiction', 'Young Ad...         184       1952
6  ['Classics', 'Fiction', 'Romance', 'Historical...         532       1847
7  ['Classics', 'Fiction', 'Science Fiction', 'Dy...         141       1945
8  ['Classics', 'Historical', 'Historical Fiction...        1037       1936
9  ['Classics', 'Fiction', 'Young Adult', 'Litera...         277       1951

                                            Emotions  \
0  [(' happy', 415), (' attached', 307), (' sad',...
1  [(' happy', 562), (' fearful', 310), (' sad', ...
2  [(' happy', 536), (' attached', 316), (' sad',...
3  [(' happy', 554), (' sad', 407), (' attached',...
4  [(' happy', 519), (' sad', 308), (' attached',...
5  [(' happy', 413), (' attached', 211), (' sad',...
6  [(' attached', 373), (' happy', 326), (' sad',...
7  [(' powerless', 175), (' happy', 160), (' atta...
8  [(' attached', 397), (' happy', 360), (' sad',...
9  [(' happy', 480), (' attached', 285), (' sad',...

                                   Combined Features
0  to kill a mockingbird (to kill a mockingbird) ...
1  pride and prejudice jane austen happy fearful ...
2  harry potter and the sorcerer's stone (harry p...
3  the fellowship of the ring (the lord of the ri...
4  the great gatsby f. scott fitzgerald happy sad...
5  charlotte's web e.b. white happy attached sad ...
6  jane eyre charlotte brontã« attached happy sad...
7  animal farm george orwell powerless happy atta...
8  gone with the wind margaret mitchell attached ...
9  the catcher in the rye j.d. salinger happy att...

Entries from Books.csv:
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi
5  0399135782                             The Kitchen God's Wife
6  0425176428  What If?: The World's Foremost Military Histor...
7  0671870432                                    PLEADING GUILTY
8  0679425608  Under the Black Flag: The Romance and the Real...
9  074322678X            Where You'll Find Me: And Other Stories

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company
5               Amy Tan                1991            Putnam Pub Group
6         Robert Cowley                2000    Berkley Publishing Group
7           Scott Turow                1993                  Audioworks
8       David Cordingly                1996                Random House
9           Ann Beattie                2002                    Scribner

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

<ipython-input-3-e50d062cddd0>:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Books.csv')

In [ ]:
# Merge the DataFrames based on the book title
merged_df = pd.merge(books_literature, books_kaggle, left_on='Book Title', right_on='Book-Title', how='inner')

# Define the columns you want to include in the output
columns_to_print = ['Book Title', 'Book Authors', 'Book Overall Rating', 'ISBN', 'Book-Author' ]  # Add other column names as needed

# Print only the mentioned columns in the merged DataFrame
#print(merged_df[columns_to_print])

# Drop duplicate rows based on ISBN
merged_df_unique_isbn = merged_df.drop_duplicates(subset='ISBN')

# Print the resulting DataFrame
#print(merged_df_unique_isbn[columns_to_print])

# Sort the DataFrame based on 'Book Overall Rating'
sorted_df = merged_df_unique_isbn.sort_values(by='Book Overall Rating', ascending=False)

# Print the sorted DataFrame
print(sorted_df[columns_to_print])

                                   Book Title             Book Authors  \
219  Harry Potter and the Prisoner of Azkaban         ['J.K. Rowling']
27      Harry Potter and the Sorcerer's Stone         ['J.K. Rowling']
26      Harry Potter and the Sorcerer's Stone         ['J.K. Rowling']
190        The Holy Bible: King James Version            ['Anonymous']
206                              East of Eden       ['John Steinbeck']
..                                        ...                      ...
275                        The Scarlet Letter  ['Nathaniel Hawthorne']
274                        The Scarlet Letter  ['Nathaniel Hawthorne']
273                        The Scarlet Letter  ['Nathaniel Hawthorne']
272                        The Scarlet Letter  ['Nathaniel Hawthorne']
270                        The Scarlet Letter  ['Nathaniel Hawthorne']

     Book Overall Rating        ISBN           Book-Author
219                 4.58  0747545111         J. K. Rowling
27                  4.48  0939173344          J.K. Rowling
26                  4.48  1594130000         J. K. Rowling
190                 4.42  0529064634  Not Applicable (Na )
206                 4.39  0140049975        John Steinbeck
..                   ...         ...                   ...
275                 3.43  1578151139   Nathaniel Hawthorne
274                 3.43  3895084573   Nathaniel Hawthorne
273                 3.43  0881030457   Nathaniel Hawthorne
272                 3.43  1590071352   Nathaniel Hawthorne
270                 3.43  1566190959   Nathaniel Hawthorne

[376 rows x 5 columns]

In [ ]:
sorted_df.to_csv('/content/drive/MyDrive/Project/literature_kaggle_books.csv')

In [ ]:
# Read the CSV files into pandas DataFrames
users_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Users.csv')

# Print columns of the first DataFrame
print("Columns of Users.csv:")
print(users_kaggle.columns)

Columns of Users.csv:
Index(['User-ID', 'Location', 'Age'], dtype='object')

In [ ]:
# Read the CSV files into pandas DataFrames
ratings_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Ratings.csv')

# Print columns of the first DataFrame
print("Columns of Users.csv:")
print(ratings_kaggle.columns)

Columns of Users.csv:
Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [ ]:
# Merge the DataFrames based on the book title
merged_literature_books_ratings = pd.merge(sorted_df, ratings_kaggle, left_on='ISBN', right_on='ISBN', how='inner')

# Define the columns you want to include in the output
columns_to_print_new = ['Book Title', 'User-ID', 'Book-Rating', 'ISBN' ]  # Add other column names as needed

# Print the sorted DataFrame
print(merged_literature_books_ratings[columns_to_print_new])

                                    Book Title  User-ID  Book-Rating  \
0     Harry Potter and the Prisoner of Azkaban   276925            0
1     Harry Potter and the Prisoner of Azkaban    76626            7
2     Harry Potter and the Prisoner of Azkaban   262070            8
3        Harry Potter and the Sorcerer's Stone   211758            0
4        Harry Potter and the Sorcerer's Stone   104139            8
...                                        ...      ...          ...
7253                        The Scarlet Letter    68555            8
7254                        The Scarlet Letter    72950            6
7255                        The Scarlet Letter   179730            7
7256                        The Scarlet Letter   183061            0
7257                        The Scarlet Letter   254899            9

            ISBN
0     0747545111
1     0747545111
2     0747545111
3     0939173344
4     1594130000
...          ...
7253  1566190959
7254  1566190959
7255  1566190959
7256  1566190959
7257  1566190959

[7258 rows x 4 columns]

In [ ]:
merged_literature_books_ratings.to_csv('/content/drive/MyDrive/Project/literature_kaggle_ratings.csv')

In [ ]:
# Then, use the generated dictionaries to reindex UserID and MovieID in the data_df
user_list = merged_literature_books_ratings['User-ID'].values
book_list = merged_literature_books_ratings['ISBN'].values

print(user_list)
print(book_list)

user_list_size = len(user_list)
movie_list_size = len(book_list)

print("Size of user_list:", user_list_size)
print("Size of movie_list:", movie_list_size)


# Assuming user_list and movie_list are already defined
import numpy as np

unique_users = np.unique(user_list)
unique_books = np.unique(book_list)

print("Number of unique users:", len(unique_users))
print("Number of unique Books:", len(unique_books))

[276925  76626 262070 ... 179730 183061 254899]
['0747545111' '0747545111' '0747545111' ... '1566190959' '1566190959'
 '1566190959']
Size of user_list: 7258
Size of movie_list: 7258
Number of unique users: 4373
Number of unique Books: 374

"for j in range(len(data_df)):\n    user_list[j] = user_old2new_id_dict[user_list[j]]\n    movie_list[j] = movie_old2new_id_dict[movie_list[j]]\ndata_df['UserID'] = user_list\ndata_df['movieID'] = movie_list\n\n# generate train_df with 70% samples and test_df with 30% samples, and there should have no overlap between them.\nnp.random.seed(12)\ntrain_index = np.random.random(len(data_df)) <= 0.7\ntrain_df = data_df[train_index]\ntest_df = data_df[~train_index]\n\n# generate train_mat and test_mat\nnum_user = len(data_df['UserID'].unique())\nnum_movie = len(data_df['MovieID'].unique())\n\ntrain_mat = coo_matrix((train_df['Rating'].values, (train_df['UserID'].values, train_df['MovieID'].values)), shape=(num_user, num_movie)).astype(float).toarray()\ntest_mat = coo_matrix((test_df['Rating'].values, (test_df['UserID'].values, test_df['MovieID'].values)), shape=(num_user, num_movie)).astype(float).toarray()"

In [ ]:
import pandas as pd
import numpy as np

# Assuming merged_literature_books_ratings is your DataFrame containing ratings for books

# First, generate dictionaries for mapping old ISBN to new ISBN
unique_ISBN = merged_literature_books_ratings['ISBN'].unique()
unique_UserID = merged_literature_books_ratings['User-ID'].unique()
j = 0
user_old2new_id_dict = dict()
for u in unique_UserID:
    user_old2new_id_dict[u] = j
    j += 1
j = 0
book_old2new_id_dict = dict()
for i in unique_ISBN:
    book_old2new_id_dict[i] = j
    j += 1

# Then, use the generated dictionary to reindex ISBN in the merged_literature_books_ratings DataFrame
user_list = merged_literature_books_ratings['User-ID'].values
book_list = merged_literature_books_ratings['ISBN'].values
for j in range(len(merged_literature_books_ratings)):
    user_list[j] = user_old2new_id_dict[user_list[j]]
    book_list[j] = book_old2new_id_dict[book_list[j]]
merged_literature_books_ratings['ISBN'] = book_list
merged_literature_books_ratings['User-ID'] = user_list

In [ ]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 7.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.11.4)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3163000 sha256=e074c72da8edfe7210d43eecfa1b1d305774fe745a61a6b59cdbd03d590a8c1c
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [ ]:
from surprise import Dataset, Reader, KNNBasic
from surprise.model_selection import train_test_split

# Load your dataset
reader = Reader(rating_scale=(1, 10))  # Adjust the rating scale as per your dataset
data = Dataset.load_from_df(merged_literature_books_ratings[['User-ID', 'ISBN', 'Book-Rating']], reader)

# Split the data into training and test sets
trainset, testset = train_test_split(data, test_size=0.2)

# Set up the algorithm with Pearson baseline similarity
sim_options = {
    "name": "pearson_baseline",
    "user_based": True,  # compute similarities between users
}

algo = KNNBasic(sim_options=sim_options)

# Train the model
algo.fit(trainset)

# Predict ratings for the test set
predictions = algo.test(testset)

# Print out some predictions
for prediction in predictions[:10]:
    print(prediction)
from surprise import accuracy

# Calculate and print RMSE
rmse = accuracy.rmse(predictions)

# Calculate and print MAE
mae = accuracy.mae(predictions)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
user: 2885       item: 193        r_ui = 10.00   est = 4.02   {'was_impossible': True, 'reason': 'User and/or item is unknown.'}
user: 2067       item: 135        r_ui = 0.00   est = 1.00   {'actual_k': 1, 'was_impossible': False}
user: 616        item: 43         r_ui = 0.00   est = 4.02   {'was_impossible': True, 'reason': 'User and/or item is unknown.'}
user: 1763       item: 92         r_ui = 0.00   est = 4.02   {'was_impossible': True, 'reason': 'Not enough neighbors.'}
user: 542        item: 243        r_ui = 0.00   est = 4.02   {'was_impossible': True, 'reason': 'Not enough neighbors.'}
user: 2126       item: 117        r_ui = 10.00   est = 4.02   {'was_impossible': True, 'reason': 'User and/or item is unknown.'}
user: 690        item: 324        r_ui = 0.00   est = 8.54   {'actual_k': 3, 'was_impossible': False}
user: 1303       item: 77         r_ui = 0.00   est = 4.02   {'was_impossible': True, 'reason': 'Not enough neighbors.'}
user: 1361       item: 193        r_ui = 8.00   est = 4.02   {'was_impossible': True, 'reason': 'Not enough neighbors.'}
user: 2075       item: 111        r_ui = 0.00   est = 4.02   {'was_impossible': True, 'reason': 'Not enough neighbors.'}
RMSE: 4.4853
MAE:  4.1632

In [ ]:
import pandas as pd

# Read the CSV files into pandas DataFrames
books_all = pd.read_csv('/content/drive/MyDrive/Project/merged_emotions_all.csv')
books_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Books.csv')

# Print columns of the first DataFrame
print("Columns of database_books_analyzed.csv:")
print(books_all.columns)

# Print columns of the second DataFrame
print("\nColumns of Books.csv:")
print(books_kaggle.columns)

# Print 10 entries from database_books_analyzed.csv
print("Entries from database_books_analyzed.csv:")
print(books_all.head(10))

# Print 10 entries from Books.csv
print("\nEntries from Books.csv:")
print(books_kaggle.head(10))

# Merge the DataFrames based on the book title
#merged_df = pd.merge(books_literature, books_kaggle, on='book_title', how='inner')

# Display the merged DataFrame
#print(merged_df)

Columns of database_books_analyzed.csv:
Index(['Book', 'Author', 'Description', 'Genres', 'Year of Publication',
       'Publisher', 'URL', 'Aggregated Emotions', 'Aggregated Des Emotions'],
      dtype='object')

Columns of Books.csv:
Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
Entries from database_books_analyzed.csv:
                                Book             Author  \
0                     my idea of fun          will self
1                 the magic mountain        thomas mann
2                       the drifters  james a. michener
3                the golden notebook      doris lessing
4  the missing piece meets the big o   shel silverstein
5                       'salem's lot       stephen king
6                      gerald's game       stephen king
7           i know this much is true         wally lamb
8             horton hatches the egg          dr. seuss
9               look homeward, angel       thomas wolfe

                                         Description   Genres  \
0  self established one brilliant daring inventiv...  Fiction
1  dizzyingly rich novel ideas mann uses sanatori...  Fiction
2  triumphant best seller james michener unfolds ...  Fiction
3  anna writer author one successful novel keeps ...  Fiction
4  shel silverstein celebrated author giving tree...  Fiction
5  librarian note alternate cover edition isbn 04...  Fiction
6  game husband wife game gerald game time jessie...  Fiction
7  afternoon october 12 1990 twin brother thomas ...  Fiction
8  beloved generations kindness loyalty horton el...  Fiction
9  look homeward angel story buried life 1929 nov...  Fiction

   Year of Publication                      Publisher  \
0                 1995                        Vintage
1                 1996                        Vintage
2                 1986                  Fawcett Books
3                 1981                         Bantam
4                 1981                  HarperCollins
5                 1990                    Signet Book
6                 2001                    Signet Book
7                 1999                    Regan Books
8                 1966  Random House Children's Books
9                 1995                       Scribner

                                                 URL  \
0  https://www.goodreads.com/book/show/119116.My_...
1  https://www.goodreads.com/book/show/88077.The_...
2  https://www.goodreads.com/book/show/42955.The_...
3  https://www.goodreads.com/book/show/24100.The_...
4  https://www.goodreads.com/book/show/30125.The_...
5  https://www.goodreads.com/book/show/11590._Sal...
6  https://www.goodreads.com/book/show/32692.Gera...
7  https://www.goodreads.com/book/show/227711.I_K...
8  https://www.goodreads.com/book/show/11301.Hort...
9  https://www.goodreads.com/book/show/12448.Look...

                                 Aggregated Emotions  \
0  [(' happy', 9), (' sad', 7), (' fearful', 6), ...
1  [(' happy', 32), (' attracted', 16), (' sad', ...
2  [(' happy', 18), (' free', 8), (' attracted', ...
3  [(' sad', 33), (' happy', 28), (' attracted', ...
4  [(' alone', 4), (' fearful', 1), (' attracted'...
5  [(' happy', 23), (' attached', 18), (' sad', 1...
6  [(' entitled', 14), (' fearful', 11), (' sad',...
7  [(' happy', 15), (' attracted', 11), (' attach...
8  [(' happy', 14), (' apathetic', 10), (' attach...
9  [(' happy', 29), (' lost', 19), (' sad', 14), ...

                             Aggregated Des Emotions
0  [(' average', 60), (' sad', 60), (' fearless',...
1                                                 []
2                                     [(' sad', 29)]
3                   [(' fearful', 60), (' sad', 30)]
4                                                 []
5                                 [(' fearful', 29)]
6     [(' sad', 56), (' alone', 56), (' angry', 28)]
7                                   [(' happy', 27)]
8                                   [(' happy', 30)]
9                                                 []

Entries from Books.csv:
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi
5  0399135782                             The Kitchen God's Wife
6  0425176428  What If?: The World's Foremost Military Histor...
7  0671870432                                    PLEADING GUILTY
8  0679425608  Under the Black Flag: The Romance and the Real...
9  074322678X            Where You'll Find Me: And Other Stories

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company
5               Amy Tan                1991            Putnam Pub Group
6         Robert Cowley                2000    Berkley Publishing Group
7           Scott Turow                1993                  Audioworks
8       David Cordingly                1996                Random House
9           Ann Beattie                2002                    Scribner

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
5  http://images.amazon.com/images/P/0399135782.0...
6  http://images.amazon.com/images/P/0425176428.0...
7  http://images.amazon.com/images/P/0671870432.0...
8  http://images.amazon.com/images/P/0679425608.0...
9  http://images.amazon.com/images/P/074322678X.0...

<ipython-input-2-f0719117809d>:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_kaggle = pd.read_csv('/content/drive/MyDrive/Project/Books.csv')

In [ ]:
# Merge the DataFrames based on the book title
merged_df = pd.merge(books_all, books_kaggle, left_on='Book', right_on='Book-Title', how='inner')

# Define the columns you want to include in the output
columns_to_print = ['Book Title', 'Book Authors', 'Book Overall Rating', 'ISBN', 'Book-Author' ]  # Add other column names as needed

# Print only the mentioned columns in the merged DataFrame
#print(merged_df[columns_to_print])

# Drop duplicate rows based on ISBN
merged_df_unique_isbn = merged_df.drop_duplicates(subset='ISBN')

# Print the resulting DataFrame
#print(merged_df_unique_isbn[columns_to_print])

# Sort the DataFrame based on 'Book Overall Rating'
sorted_df = merged_df_unique_isbn.sort_values(by='Book Overall Rating', ascending=False)

# Print the sorted DataFrame
print(sorted_df[columns_to_print])

KeyError: 'Book Overall Rating'